/*
Precision Measurement Technologies
*/

/* General properties
------------------------------------------------*/

@font-face
{
	font-family: 'GillSans';
	src: url('../fonts/gillsansstd.ttf');
	src: url('../fonts/GillSansStd.eot?') format('eot'), url('../fonts/GillSansStd.woff') format('woff'), url('GillSansStd.otf') format('opentype');
}

@font-face
{
	font-family: Sansation;
	src: url(../fonts/Sansation_Regular.ttf);
}

@font-face
{
	font-family: Sansation;
	src: url(../fonts/Sansation_Bold.ttf);
	font-weight:bold;
}


/* General properties
------------------------------------------------*/

body {
	color:#333;
	margin:0;
	padding:0;
	font-family: Arial, sans-serif;
	font-size:12px;
	line-height: 1.4;
	background-color:#fff;
	background-image: url('/images/all/body-bkd-tile.jpg'); 
}

/* HTML Elemental Properties (Fire, Wind, Water, Earth) */


a:link, a:visited, a:active {
	color: #0087cd;
	text-decoration: none;
}

a:hover {
	color: #ff6600;
	text-decoration: underline;
}

p {
	margin:10px 15px 10px 15px;
}

p.click {
	font-size:12px;
	font-style:italic;
	color:#ccc;
	margin-left:30px;
	margin-bottom:30px;
	clear:left;
}
		
h1, h2, h3, h4, h5 { margin:15px 10px 15px 15px; padding:0;}

	
h1 { font-size: 1.8em;line-height:1.0em;color:#150a68; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.0em; }

ul.sub, ul.sub ul, ul.sub ul ul{
    list-style: none;
    padding:0;
    margin:5px 5px 25px 25px;
}

ul.sub  li { 
	padding:.3em;
    padding-left: 1em; 
	background-image: url('/images/all/orange-dot.png');
	background-position: 0 .6em;
	background-repeat:no-repeat;
}

table { width:auto;
	margin-left:20px;
}
	table th { 
		text-align:left;}
	table td {
		padding:0;
		padding-right:20px;
		vertical-align:middle;}
	table td.tablehead {
		font-weight:bold;
		color:#150a68;
		padding-top:10px;
	}
	
table.specs {
	border:0;
	margin:10px;
	width:700px;
}

table.specs td {
	border:0;
	padding:5px;
}

table.specs td.narleft {
	width:25%;
	border:0;
	padding:5px;
	font-weight:bold;
}

table.orno {
	border:0;
	margin:10px;
	width:90%;
}

table.orno th {
	border:0;
	padding:5px;
	font-weight:bold;
}

table.orno td {
	border:0;
	padding:5px;
}
	
/* Global Class */

.NoUnderline { text-decoration: none;}
.clearboth { clear:both;}
.Indent {margin:0 0 0 15px;}
.disclaimer {font-size:8px;}
.fleft {float:left;margin:0 10px 15px 0;}
.fright {float:right;}
.flhalf {float:left;margin:0 10px 15px 0;width:330px;}
.frhalf {float:right;width:330px;}
.bold {font-weight:bold;}
/*.oneUp {font-size:1.2em;}*/

/* Container IDs
------------------------------------------------*/
#tempcontainer {
	margin:auto;
	/*margin-bottom:10px;*/
	margin-top:0;
	padding-top:0;
	width:800px;
	text-align:left;
	background-color:#fff;

}

#containerOut {
	margin:auto;
	/*margin-bottom:10px;*/
	margin-top:0;
	padding-top:0;
	width:1092px;
	/*height:2000px;*/
	background-image: url('/images/all/page-bkd-grad-1.png');
	background-repeat:repeat-y;

}

#containerIn {
	margin:auto;
	/*margin-bottom:10px;*/
	margin-top:0;
	padding-top:0;
	width:980px;
	/*height:2000px;*/
	background-color:#faf8f8;
}
#containerIn:after {
	content:"";
  display:table;
  clear:both;
}

#homeHighlight {
	float:left;
	width:980px;
}

#homeHighlight img {
	float:left;
	margin:16px 0 0 16px;
}

#homeHLtext {
	float:right;
	width:250px;
	margin:32px 16px 0 0;
}

#slidewrapper {
	width:940px;
	height:312px;
}





#homeTop {
	float:left;
	width:980px;
	margin-top:15px;

}

#homeFeat1 {
	float:left;
	width:300px;
	padding:12px;
}
#homeFeat2 {
	float:left;
	width:300px;
	padding:12px;
}
#homeFeat3 {
	float:right;
	width:280px;
	padding:9px;
}


#homeFeatA {
	float:left;
	width:642px;
	padding:12px;
}



#homeSecond {
	float:left;
	width:980px;
	margin-left:0px;
	background-color:#eceaeb;
}

#home2left {
	float:left;
	width:700px;
	margin:15px 0 15px 15px;
}

#home2left img {
	margin-top:5px;
	border:0;
}

#featLeftT {
	float:left;
	width:320px;
	margin-bottom:10px;
}

#featRightT {
	float:right;
	width:320px;
	margin-bottom:10px;
}

#featLeftB {
	float:left;
	width:320px;
	margin-bottom:10px;
}

#featRightB {
	float:right;
	width:320px;
	margin-bottom:10px;
}


#home2right {
	float:right;
	width:240px;
	margin:15px 15px 15px 0;
	padding-left:5px;
	border-left:1px solid #c2c2c2;
}



#footertopper {
	float:left;
	width:980px;
	height:3px;
	background-image: url('/images/all/footer-topper.jpg');
	background-repeat:repeat-x;
}

#footer {
	float:left;
	color:#fff;
	font-size:10px;
	text-align:left;
	width:980px;
	background-color:#102a47;
}

#footer a:link, 
#footer a:visited, 
#footer a:active {
	color: #fff;
	text-decoration: none;
}

#footer a:hover {
	color: #fff;
	text-decoration: underline;
}



#foot1 {
	float:left;
	color:#fff;
	font-size:12px;
	text-align:left;
	width:225px;
	margin:6px;
}

#foot2 {
	float:left;
	color:#fff;
	font-size:10px;
	text-align:left;
	width:225px;
	margin:6px;
}

#foot3 {
	float:right;
	color:#fff;
	font-size:10px;
	text-align:left;
	width:205px;
	margin:40px 6px 6px 6px;
}

#foot4 {
	float:right;
	color:#fff;
	font-size:10px;
	text-align:left;
	width:260px;
	margin:6px;
}

#foot4 input[type=text] {
	color:#777;
	height: 29px;
	width:130px;
	padding-left:10px;
	margin-left:0px;
	margin-top:2px;
	background:transparent;
	background-image: url('/images/all/newsletter-box.png');
	background-repeat: no-repeat;
	border:0;
}

#foot4 input[type=image] {
	vertical-align:bottom;
	border:0;
	margin-bottom:2px;
}



#subBody {
	width:710px;
	height:100%;
	float:right;
	border-left:1px solid #777;
}

#subBody img.main {
	float:left;
	margin:5px 15px 15px 20px;
	border:1px solid #ccc;
}

#subTop {
	width:710px;
	float:left;
	font-size:14px;
	line-height:130%;
}

#subSecond {
	width:710px;
	float:left;
	background-color:#eceaeb;
}

#subSecond img {
	float:left;
	margin:15px 15px 15px 20px;
	border:1px solid #ccc;
	clear:left;
}

#sub2left {
	width:330px;
	float:left;
}

#sub2right {
	width:330px;
	float:right;
	margin-right:20px;
}

#sub2full {
	width:700px;
	float:left;
}

#subThird {
	width:710px;
	float:left;
	background-color:#fff;
	padding-bottom:20px;
}

#sub3left {
	width:350px;
	float:left;

}

#sub3left img {
	float:left;
	margin-left:20px;
	clear:left;
}

#sub3right {
	width:350px;
	float:right;
}

#sub3right img {
	float:left;
	margin-left:20px;
	clear:left;
}

#subFourth {
	width:710px;
	float:left;
	background-color:#eceaeb;
}

#sub4left {
	width:350px;
	float:left;
}

#sub4right {
	width:350px;
	float:right;
}




#searchResults {
	width:710px;

	float:left;
	border:0; 
}


/* --------------------------------------------------------
Header 
--------------------------------------------------------- */
.primary-header {
	display: block;
	width: 100%;
}
/* Logo */
.partnership-logos {
	float: left;
}
.partnership-logos:hover,
.partnership-logos:focus {
	text-decoration: none;
}
.logo-list {
	list-style: none;
	margin: 10px 00;
	padding: 0;
}
.logo-list-item {
	float: left;
	width: 250px;
}
.logo-list-item:first-child {
	position: relative;
}
.logo-list-item:first-child:after {
	border-right: 1px solid #ccc;
	content: "";
	position: absolute;
		top: 10px;
		right: -3px;
		bottom: 10px;
}
.logo-list-item:last-child {
	margin-top: 46px;
	margin-left: 10px;
	width: 110px;
}
.logo-list-item img {
	display: block;
	width: 100%;
}
.partnership-tagline {
	color: #999;
	clear: both;
	display: block;
	margin-right: 0;
	margin-left: 28px;
	text-align: center;
	text-transform: uppercase;
}

/* Global Search */
.global-search {
	float: right;
	margin: 48px 10px 0 0;
	position: relative;
	width: 330px;
}
.global-search-field {
	border: 1px solid #ccc;
	border-radius: 20px;
	color: #333;
	height: 30px;
	padding: 0 10px;
	width: 100%;
}
.global-search-action {
	background-color: #0085cd;
	border: 0;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	color: #fff;
	cursor: pointer;
	height: 30px;
	position: absolute;
		top: 0;
		right: 0;
	text-transform: uppercase;
}


/* --------------------------------------------------------
Primary Navigation
--------------------------------------------------------- */
/* Chevron */
.primary-nav [data-dropdown="bottom"]:after {
	border-style: solid;
	border-width: 0.2em 0.2em 0 0;
	content: '';
	display: inline-block;
	margin-left: 10px;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 19px;
	transform: rotate(135deg);
	vertical-align: top;
	width: 0.45em;
}
.primary-nav [data-dropdown="right"] {
	position: relative;
}
.primary-nav [data-dropdown="right"]:after {
	border-style: solid;
	border-width: 0.2em 0.2em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	float: right;
	position: absolute;
		right: 10px;
		top: 9px;
	transform: rotate(45deg);
	vertical-align: top;
	width: 0.45em;
}

/* primary navigation */
.primary-nav {
	background-color: #0387cd;
	clear: both;
	height: 50px;
}
.primary-nav ul {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
.primary-nav a {
	color: #fff;
}
.primary-nav .active {
	background-color: #595a5c;
}

.primary-nav .horizontal-nav:first-child {
	float: left;
}
.primary-nav .horizontal-nav:last-child {
	float: right;
}

/* Level 1 */
.primary-nav .horizontal-nav-item {
	color: #fff;
	float: left;
	position: relative;
}
.primary-nav .horizontal-nav-item > a {
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	padding: 0 15px;
	text-transform: uppercase;
}
.primary-nav .horizontal-nav-item > a:hover,
.primary-nav .horizontal-nav-item > a:focus,
.primary-nav .vertical-nav-item > a:hover,
.primary-nav .vertical-nav-item > a:focus {
	background-color: #595a5c;
	text-decoration: none;
}

/* Level 2 */
.primary-nav .vertical-nav-heading {
	background-color: rgba(0, 0, 0, .1);
	font-weight: bold;
	padding: 5px 15px;
	text-transform: uppercase;
}
.primary-nav .horizontal-nav-item .vertical-nav-item > a {
	display: block;
	padding: 5px 15px;
}

/* Chevron*/
.primary-nav .vertical-nav-item > a {
	position: relative;
}
.primary-nav .vertical-nav-item > a:before {
	background-color: rgba(256,256,256, .2);
	content: "";
	display: block;
	height: 1px;
	position: absolute;
		bottom: -1px;
		left: 10px;
		right: 10px;
}

.primary-nav .horizontal-nav-item > .vertical-nav {
	background-color: #0387cd;
	border: 1px solid rgba(256, 256, 256, .2);
	display: none;
	position: absolute;
		top: 50px;
		left: 0;
		z-index: 10;
	width: 270px;
}
.primary-nav .horizontal-nav-item:hover > .vertical-nav,
.primary-nav .horizontal-nav-item:focus > .vertical-nav {
	display: block;
}

/* Level 3 */
.primary-nav .vertical-nav-item > .vertical-nav {
	background-color: #0387cd;
	border: 1px solid rgba(256, 256, 256, .2);
	display: none;
	position: absolute;
		top: -1px;
		left: 270px;
		bottom: 0;
	width: 340px;
}

.primary-nav .vertical-nav-item > .vertical-nav .vertical-nav-item a { 
	/*white-space: nowrap;	*/
}


.primary-nav .vertical-nav-item:hover > .vertical-nav,
.primary-nav .vertical-nav-item:focus > .vertical-nav {
	display: block;
}

.vertical-nav.active {
	display: block !important;
}

/* Sub nav properties 
------------------------------------------------*/

#subNav {
	
	float:left;
	width:250px;
	margin:10px 0 0 10px;
	border:0;
}

#subNav ul {
	border:0;
	margin:0;
	padding:0;
	margin:10px 0 20px 0;
	padding:0;
	list-style:none;
	width:100%;}
	#subNav ul li { font-size:14px;list-style:none;	border:0;margin:0;padding:0;}
		#subNav ul li a:link,
		#subNav ul li a:visited,
		#subNav ul li a:active {
			display:block;
			color:#231f20;
			padding:3px 0 3px 18px;
			line-height: 16px;
			
			
			text-decoration: none;}
		#subNav ul li a:hover{
			color:#231f20; 
			padding:3px 0 3px 18px;
			text-decoration: underline;
			}
	/* 2nd level subnav -------------------------------- */
		#subNav ul ul { 
				padding:0 0 5px 0;
				margin:0;
		}
		#subNav ul ul li { font-size:12px;/*background:transparent url(/Images/Common/subNav_Bullet.gif) no-repeat 13px 10px;*/}
		#subNav ul ul li a:link, 
		#subNav ul ul li a:visited,
		#subNav ul ul li a:active {
			
			display: block;
			padding:4px 0 4px 35px;
			
			
			text-decoration: none;}
		#subNav ul ul li a:hover{
			
			padding:4px 0 4px 35px;
			text-decoration: underline;
			/*background-color:#333;
			background:transparent url(/Images/Common/subNav_HoverGradiant.gif) repeat-y top right;*/}

/* nav menu styles */
#nav { 
  display: block; 
  width: 240px; 
  margin: 0 auto; 
 /* -webkit-box-shadow: 3px 2px 3px rgba(0,0,0,0.7);
  -moz-box-shadow: 3px 2px 3px rgba(0,0,0,0.7);
  box-shadow: 3px 2px 3px rgba(0,0,0,0.7); */
}

#nav li { }

#nav > li > a { 
  display: block; 
  padding: 16px 18px;
 /* font-size: 1.3em;
  font-weight: bold;
  color: #d4d4d4;
  text-decoration: none;
  border-bottom: 1px solid #212121;
  background-color: #343434;
  background: -webkit-gradient(linear, left top, left bottom, from(#343434), to(#292929));
  background: -webkit-linear-gradient(top, #343434, #292929);
  background: -moz-linear-gradient(top, #343434, #292929);
  background: -ms-linear-gradient(top, #343434, #292929);
  background: -o-linear-gradient(top, #343434, #292929);
  background: linear-gradient(top, #343434, #292929); */
}
#nav > li > a:hover, #nav > li > a.open { 
  /*color: #e9e9e9;
  border-bottom-color: #384f76;
  background-color: #6985b5;
  background: -webkit-gradient(linear, left top, left bottom, from(#6985b5), to(#456397));
  background: -webkit-linear-gradient(top, #6985b5, #456397);
  background: -moz-linear-gradient(top, #6985b5, #456397);
  background: -ms-linear-gradient(top, #6985b5, #456397);
  background: -o-linear-gradient(top, #6985b5, #456397);
  background: linear-gradient(top, #6985b5, #456397); */
}

#nav li ul { display: none; /*background: #4a5b78;  */}

#nav li ul li a { 
  display: block; 
  background: none;
  padding: 10px 0px;
  padding-left: 30px;
  /*font-size: 1.1em;
  text-decoration: none;
  font-weight: bold;
  color: #e3e7f1;
  text-shadow: 1px 1px 0px #000; */
}
#nav li ul li a:hover {
  /*background: #394963;*/
}

#nav > li > a > img { 
	border:0;
}			

/* Homepage Specific IDs -----------------------------------  */

h1.home {color:#0087cd;font-weight:bold;font-family:Sansation;font-size:36px;text-transform:uppercase;}
h1.sub {color:#0087cd;font-weight:normal;font-family:GillSans;font-size:30px;margin-top:20px;}
p.sub {color:#194258;font-weight:normal;font-family:Sansation;font-size:24px;text-transform:lowercase;margin:0 0 0 15px; padding:0;line-height:1.2em;}
h2.home {color:#194258;font-family:GillSans;font-size:21px;font-weight:normal;text-transform:uppercase;}
h2.sub {color:#102a47;font-family:GillSans;font-size:18px;font-weight:normal;text-transform:uppercase;line-height:1.2em;}
h3.home {color:#0086cc;font-family:GillSans;font-size:18px;font-weight:normal;text-transform:uppercase;margin-top:0;line-height:1.1em;}
h3.foot {color:#ff6600;font-family:GillSans;font-size:18px;font-weight:normal;text-transform:uppercase;}

h2.subn {color:#ff6600;font-family:GillSans;font-size:21px;font-weight:normal;text-transform:uppercase;}
h3.down {color:#0087cd;font-weight:normal;font-family:GillSans;font-size:16px;margin-top:5px;margin-left:0;}


/* Form Element properties 
------------------------------------------------*/
select.DropDown,
input.TextField {
	background-color: #FFF;
	color: #333;
	width: auto;
	border:1px solid #999;
	text-decoration: none;
	font-size:100%;
	padding:2px;}
input.SubmitButton {
	background-color: #fff;
	color: #333;
	font-weight: normal;
	text-decoration: none;
	font-size:100%;
	padding:1px;
	border:1px solid #999;}
/* /Form Element properties ------------------------------------------------*/


/* Email Form CSS - placeholding */

.fsBody.fsEmbed{}

#fsPage1458182-1.fsPage{}

.fsSection.fs1Col{}

#fsRow1458182-1.fsRow.fsFieldRow.fsLastRow {}

#fsSubmit1458182.fsSubmit.fsPagination {}

#fsCell19615110.fsRowBody.fsCell.fsFieldCell..fsFirst.fsLast.fsLabelVertical..fsSpan100{}

#fsRow1458182-2.fsRow.fsFieldRow.fsLastRow{}

/* --------------------------------------------------------
Product Page Layouts (index, detail)
--------------------------------------------------------- */
.product-index:after,
.product-detail:after {
	content:"";
  display:table;
  clear:both;	
}

/* Sidebar */
.product-detail .sidebar {
	border-right: 1px solid #ccc;
	float: left;
	padding: 0 2%;
	width: 25%;
}
.product-detail .sidebar ul {
	font-weight: bold;
	list-style: none;
	padding-left: 5px;
}
.product-detail .sidebar > ul {
	padding: 2% 0;
}
.product-detail .sidebar ul ul {
	font-weight: normal;
	margin: 0 5px 20px;
}
.product-detail .sidebar ul ul a {
	display: block;
	padding: 5px 0;
}
.product-detail .sidebar a {
	color: #333;
}
.product-detail .sidebar a:hover,
.product-detail .sidebar a:focus {
	color: #0387cd;
}
.product-detail .vertical-nav-heading {
	color: #ff6600;
	font: 21px GillSans;
	font-weight: normal;
	text-transform: uppercase;
}

/* Product Details */
.product-detail .product-details {
	float: right;
	padding: 2% 2% 2% 0;
	width: 66%;
}

/* Features */
.product-details h1 {
	margin: 0;
}
.product-details h2 {
	margin: 0 0 20px;
}
.product-details p {
	line-height: 1.4;
	margin: 0 0 20px;
}
.product-details .intro {

}
.product-details .intro img {
	border: 1px solid #ccc;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	float: right;
	max-width: 300px;
}
.product-details table {
	margin: 0 0 20px;
}
.product-details .product-features {
	margin: 0 0 20px;
	padding: 0;
}
.product-details .product-features dt {
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0 0 0;
}
.product-details .product-features dd {
	margin: 0 20px 5px 10px;
	position: relative;
}
.product-details .product-features dd:before {
	content: "-";
	position: absolute;
		top: 0;
		left: -10px;
}

/* Facts Table */
.product-details .product-facts {
	width: 100%;
}
.product-details .product-facts th {
	font-size: 18px;
	font-weight: bold;
}
.product-details .product-facts td {
	border-bottom: 1px solid #ccc;
	text-align: right;
	padding: 5px;
}
.product-details .product-facts td:first-child {
	font-weight: bold;
	text-align: left;
}